{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "title":"EC2 Instance Public Audit",
         "color":"danger",
         "fields":[
            {
               "title":"EC2 Instance was launched with Public IP and Public subnet",
               "value":"{%- for resource in resources -%}
                        {{ format_resource(resource, policy['resource']) }}
                        {%- endfor -%}"
            },
            {
               "title":"Account",
               "value":"{{ account }}"
            },
            {
               "title":"Region",
               "value":"{{ region }}"
            },
            {
               "title":"Action Description",
               "value":"Email notification sent containing KeyName."
            }
         ]
      }
   ],
   "channel":"{{ recipient }}",
   "username":"Custodian"
}
