{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "title":"IAM User Access Key Audit",
         "color":"danger",
         "fields":[
            {
               "title":"Disabled IAM User Found with Re-activated Access Key",
               "value":"{%- for resource in resources -%}
                        {{ format_resource(resource, policy['resource']) }}
                        {%- endfor -%}"
            },
            {
               "title":"Account ID",
               "value":"{{ account_id }}"
            },
            {
               "title":"Region",
               "value":"{{ region }}"
            },
            {
               "title":"Action Description",
               "value":"Email notification sent. "
            }
         ]
      }
   ],
   "channel":"{{ recipient }}",
   "username":"Custodian"
}
