{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "title":"EC2 Team Tag Audit",
         "color":"danger",
         "fields":[
            {
               "title":"Instance(s) found with absent or empty Team tag",
               "value":"{%- for resource in resources -%}
                        {{ format_resource(resource, policy['resource']) }}
                        {%- endfor -%}"
            },
            {
               "title":"Account ID",
               "value":"{{ account_id }}"
            },
            {
               "title":"Region",
               "value":"{{ region }}"
            },
            {
               "title":"Action Description",
               "value":"Email notification sent containing KeyName(s)."
            }
         ]
      }
   ],
   "channel":"{{ recipient }}",
   "username":"Custodian"
}
