{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "title":"Detected EC2 instance launched in public subnet",
         "color":"danger",
         "fields":[
            {
               "title":"Resources",
               "value":"{%- for resource in resources -%}
                        {{ format_resource(resource, policy['resource']) }}
                        {%- endfor -%}"
            },
            {
               "title":"Region",
               "value":"{{ region }}"
            },
            {
               "title":"Action Description",
               "value":"EC2 instance was immediately terminated"
            },
            {
               "title":"Note",
               "value":"Check CloudTrail to correlate who launched instance"
            }
         ]
      }
   ],
   "channel":"{{ recipient }}",
   "username":"Custodian"
}
