{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "title":"Reminder to enable MFA",
         "color":"danger",
         "fields":[
            {
               "title":"User Name(s)",
               "value":"{{ resources | selectattr('UserName') | map(attribute='UserName') | list }}"
             },
            {
               "title":"Create Date",
               "value":"{{ resources | selectattr('CreateDate') | map(attribute='CreateDate') | list }}"
             },
            {
               "title":"Account",
               "value":"{{ account }}"
            },
            {
               "title":"Region",
               "value":"{{ region }}"
            },
            {
               "title":"Action Description",
               "value":"If your user name is on this list, please enable MFA before access is disabled."
            },
         ]
      }
   ],
   "channel":"{{ recipient }}",
   "username":"Custodian"
}
