{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "title":"IAM Users in Administrators Group with MFA Disabled",
         "color":"danger",
         "fields":[
            {
               "title":"IAM User Name(s)",
               "value":"{{ resources | selectattr('UserName') | map(attribute='UserName') | list }}"
            },
            {
               "title":"Create Date",
               "value":"{{ resources | selectattr('CreateDate') | map(attribute='CreateDate') | list }}"
            },
            {
               "title":"Account",
               "value":"{{ account }}"
            },
            {
               "title":"Region",
               "value":"{{ region }}"
            },
            {
               "title":"Action Description",
               "value":"Console access disabled. Access keys deleted. Please work with user if access is still required and make sure MFA gets enabled.
            }
         ]
      }
   ],
   "channel":"{{ recipient }}",
   "username":"Custodian"
}
