{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "title":"IAM User(s) Audit",
         "color":"danger",
         "fields":[
            {
               "title":"IAM Users not in the Ec2Instance Launchers Group but have AmazonEC2FullAccess",
               "value":"{%- for resource in resources -%}
                        {{ format_resource(resource, policy['resource']) }}
                        {%- endfor -%}"
            },
            {
               "title":"Account",
               "value":"{{ account }}"
            },
            {
               "title":"Region",
               "value":"{{ region }}"
            },
            {
               "title":"Action Description",
               "value":"Email notification sent."
            }
         ]
      }
   ],
   "channel":"{{ recipient }}",
   "username":"Custodian"
}
